*{
    margin:0;
    padding:0;
    background-color: black;
    color: white;

    font-family: 'Work Sans', sans-serif;

    transition: .2s;


    --zold: #2ca08f;
}
html,body{height:100%;}
body{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
div{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .5rem;

    &.left{
        justify-content: left;
    }
}
button{
    background-color: var(--zold);
    padding:.5rem;
    font-weight: 700;
    border:0;
    cursor: pointer;
    font-size: 12pt;

    &:hover{
        background-color: white;
        color:var(--zold);

        &.red{
            color: brown;
        }
    }
}
a{
    text-decoration: none;

    &:hover{
        color: var(--zold);
    }
}
input{
    background-color: white;
    color: black;
    border: none;
    padding:.25rem;

    &:focus-visible{
        outline-color: black;
    }
}
.not-visible{
    visibility: hidden;
}


.red{
    background-color: brown;
}
.zold{
    color: var(--zold);
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.5rem;

    &.left{
        align-items: flex-start;
    }
}





header{
    height: fit-content;
    padding: 2rem;
    width: calc(100% - 4rem);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

svg{
    height: 100%;
    width: 100%;
    border-top: 2px solid white;
}

footer{
    position: absolute;
    bottom:0;
    background: transparent;
    padding-block: .5rem;
}



.nogap{
    gap: 0;
}